
-- Criar tabela para membros da equipe de sub-setores
CREATE TABLE IF NOT EXISTS subsector_team_members (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
  subsector_id UUID NOT NULL REFERENCES subsectors(id) ON DELETE CASCADE,
  position TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(user_id, subsector_id)
);

-- Criar índices
CREATE INDEX IF NOT EXISTS idx_subsector_team_members_subsector_id ON subsector_team_members(subsector_id);
CREATE INDEX IF NOT EXISTS idx_subsector_team_members_user_id ON subsector_team_members(user_id);

-- RLS policies
ALTER TABLE subsector_team_members ENABLE ROW LEVEL SECURITY;

-- Policy para visualização (todos os usuários autenticados podem ver)
CREATE POLICY \
subsector_team_members_select\ ON subsector_team_members
  FOR SELECT USING (auth.role() = 'authenticated');

-- Policy para inserção (admins, admins de setor e admins de sub-setor)
CREATE POLICY \subsector_team_members_insert\ ON subsector_team_members
  FOR INSERT WITH CHECK (
    EXISTS (
      SELECT 1 FROM profiles 
      WHERE id = auth.uid() 
      AND (
        role = 'admin' 
        OR EXISTS (SELECT 1 FROM sector_admins WHERE user_id = auth.uid())
        OR EXISTS (SELECT 1 FROM subsector_admins WHERE user_id = auth.uid() AND subsector_id = NEW.subsector_id)
      )
    )
  );

-- Policy para atualização (admins, admins de setor e admins de sub-setor)
CREATE POLICY \subsector_team_members_update\ ON subsector_team_members
  FOR UPDATE USING (
    EXISTS (
      SELECT 1 FROM profiles 
      WHERE id = auth.uid() 
      AND (
        role = 'admin' 
        OR EXISTS (SELECT 1 FROM sector_admins WHERE user_id = auth.uid())
        OR EXISTS (SELECT 1 FROM subsector_admins WHERE user_id = auth.uid() AND subsector_id = subsector_team_members.subsector_id)
      )
    )
  );

-- Policy para exclusão (admins, admins de setor e admins de sub-setor)
CREATE POLICY \subsector_team_members_delete\ ON subsector_team_members
  FOR DELETE USING (
    EXISTS (
      SELECT 1 FROM profiles 
      WHERE id = auth.uid() 
      AND (
        role = 'admin' 
        OR EXISTS (SELECT 1 FROM sector_admins WHERE user_id = auth.uid())
        OR EXISTS (SELECT 1 FROM subsector_admins WHERE user_id = auth.uid() AND subsector_id = subsector_team_members.subsector_id)
      )
    )
  );

